.productCard .textPart{
    transition: transform .3s ease-out;
}

.productCard:hover .textPart{
    transform: translateY(-1rem);
}

.productCard:hover{
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}

.productCard {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .imageContainer {
    position: relative;
    overflow: hidden;
  }
  
  .imageContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Ensures images cover the container without distortion */
  }
  
  .textPart {
    padding: 1rem;
  }
  
  .textPart p {
    margin: 0;
  }
  
  .textPart .line-through {
    text-decoration: line-through;
  }
  
  .textPart .text-green-600 {
    color: #48bb78;
  }
  